* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  margin: 3px;
  color: white;
}

.bMain {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.book {
  display: inline-block;
  background-color: #ee5151;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  justify-content: center;
  align-content: center;
  width: 215px;
  height: 415px;
}

.book img {
  display: block;
  margin: 5px auto auto;
  width: 100%;
  height: auto;
}

.book-info {
  color: #eee !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.book-info h4 {
  margin: 0;
  font-size: 14px;
  text-align: center;
  color: black !important;
}

.book-info span {
  background-color: #efdce0;
  border-radius: 2px;
  padding: 0.25rem 0.8rem;
}

.des {
  color: black;
  font-weight: bold;
}

.book-description {
  background-color: #fff;
  color:black;
  padding: 1rem;
  position: absolute;
  height: auto;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom: -100%;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in;
  font-size: 15px;
  border-top: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.book:hover .book-description {
  transform: translateY(0);
  bottom: 0;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  height: 475px;
  -webkit-overflow-scrolling: touch;
}

.column {
  flex: none;
  white-space: normal;
  width: 215px;
  margin-right: 25px;
  position: relative;
}

.button-container {
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  text-align: center;
}

.addToListButton {
  color: #fff !important;
  background-color: #ee5151 !important;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 40px;
}



