
* {
  /*box-sizing: border-box;*/
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #fcf4f4 !important;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  background-color: #363636;
  display: flex;

}

h1{
  color: whitesmoke;
  align-self: center;
  margin-left: 28rem;
}


/*div{*/
/*  display: flex;*/
/*  flex-wrap: nowrap;*/
/*}*/
/*.row {*/
/*  display: flex;*/
/*}*/

/*.column {*/
/*  flex: 25%;*/
/*}*/

@media screen  {
  .column {
    flex: 100%;
  }
}

.movie {
  background-color: #ee5151;
  border-radius: 3px;
  /*box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);*/
  overflow: hidden;
  position: relative;
  margin: 1rem;
  justify-content: center;
  align-content: center;
  width: 225px;
  height: 475px;
}

.movie img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.movie-info {
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
  height: 60px;
}

.movie-info h3 {
  position:center;
  font-size: 16px; /* Increase font size for better visibility */
  font-weight: bold;
}

.movie-info span {
  background-color: #efdce0;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.8rem;
  margin-bottom: 15px;

}
.movie-info span.green {
  color: rgb(39, 189, 39);
}

.movie-info span.orange {
  color: #e07b00;
}

.movie-info span.red {
  color: rgb(189, 42, 42);
}


.overview {
  color: black;
  background-color: #fff;
  padding: 1rem;
  position: absolute;
  height:auto;
  max-height: 300px;
  overflow: auto;
  left: 0px;
  bottom: 0px;
  right: 0px;
  transform: translateY(105%);
  transition: transform 0.3s ease-in;
  font-size: 15px;
}

.columnM {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
}

.overview h3 {
  margin-top:5px;
}

.movie:hover .overview {
  transform: translateY(0);
}

.column {
  position: relative;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  height: 475px;
  -webkit-overflow-scrolling: touch;
}

.movie-container {
  position: relative;
}

.button-container {
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  text-align: center;
}

.addToMyListButton {
  color: #fff;
  background-color: #ee5151;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
}

.movie img {
  width: 100%;
  height: auto;
}



