
* {
  /*box-sizing: border-box;*/
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #efdce0 !important;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  background-color: #363636;
  display: flex;

}

h1{
  color: whitesmoke;
  align-self: center;
  margin-left: 28rem;
}


/*div{*/
/*  display: flex;*/
/*  flex-wrap: nowrap;*/
/*}*/
/*.row {*/
/*  display: flex;*/
/*}*/

/*.column {*/
/*  flex: 25%;*/
/*}*/

@media screen  {
  .column {
    flex: 100%;
  }
}

.movie {
  background-color: #ee5151;
  border-radius: 3px;
  /*box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);*/
  overflow: hidden;
  position: relative;
  margin: 1rem;
  justify-content: center;
  align-content: center;
  width: 215px;
  height: 415px;
}

.movie img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.movie-info {
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
  width: 100%;
}

.movie-info h3 {
  margin: 0;
  position:center;
  font-size: 16px; /* Increase font size for better visibility */
  font-weight: bold;
}

.movie-info span {
  background-color: #efdce0;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.8rem;

}
.movie-info span.green {
  color: rgb(39, 189, 39);
}

.movie-info span.orange {
  color: #e07b00;
}

.movie-info span.red {
  color: rgb(189, 42, 42);
}

.overview {
  background-color: #fff;
  padding: 1rem;
  position: absolute;
  height:auto;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom: 0px;
  right:0px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in;
  font-size: 15px;
}

.overview h3 {
  margin-top:5px;
}

.movie:hover .overview {
  transform: translateY(0);
}

/*.row {*/
/*  display: flex;*/
/*  flex-wrap: nowrap;*/
/*  !*flex-direction: row;*!*/
/*  overflow-x: scroll;*/
/*  !*padding-bottom: 5px;*!*/
/*  !*margin: 0 -10px; !* Add negative margin to counteract column padding *!*!*/
/*  -webkit-overflow-scrolling: touch;*/
/*  width: 100%;*/
/*}*/

/*.column {*/
/*  flex-basis: calc(25% - 20px); !* assuming 10px padding on left and right *!*/
/*  padding: 10px;*/
/*  box-sizing: border-box;*/
/*}*/


/*.column {*/
/*  flex: none;*/
/*  padding: 15px;*/
/*  box-sizing: border-box;*/
/*  white-space: normal;*/
/*  width: 200px; !* Set the desired smaller width for movie divs *!*/
/*}*/

.row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.column {
  flex: none;
  white-space: normal;
  width: 215px;
  margin-right: 25px;
}


/*.column {*/
/*  flex: none; !* Prevent the column from growing or shrinking *!*/
/*  padding: 10px;*/
/*}*/


.movie img {
  width: 100%;
  height: auto;
}/* Make sure the image height


/*.row {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  padding-bottom: 5px;*/
/*}*/


/*.book hr {*/
/*  height: 1px;*/
/*  margin: 10px 0;*/
/*  border: none;*/
/*  background-color: #ccc;*/
/*}*/

/*.entry {*/
/*  margin: 30px 0px;*/
/*  padding: 20px 50px;*/
/*  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.21);*/
/*  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.21);*/
/*  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.21); }*/
/*.entry:before {*/
/*  content: attr(nyt-rank);*/
/*  font-size: 18px;*/
/*  font-family: 'Lato', sans-serif;*/
/*  display: inline-block;*/
/*  width: 50px;*/
/*  height: 50px;*/
/*  line-height: 25px;*/
/*  padding: 20px 20px;*/
/*  text-align: center;*/
/*  transform: translate(-100px);*/
/*  border: 4px solid #282c37;*/
/*  background-color: #fff;*/
/*  border-radius: 50%;*/
/*  color: #282c37;*/
/*  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.21);*/
/*  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.21);*/
/*  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.21); }*/

/*#best-seller-titles {*/
/*  max-width: 475px;*/
/*  margin: 120px auto; }*/
/*#best-seller-titles a {*/
/*  margin: 40px 0px 0px 0px;*/
/*  text-decoration: none;*/
/*  color: #2b90d9;*/
/*  line-height: .5; }*/
/*#best-seller-titles h1, #best-seller-titles h2, #best-seller-titles h3, #best-seller-titles h4 {*/
/*  color: #282c37; }*/
/*#best-seller-titles p {*/
/*  color: #333030;*/
/*  line-height: 1.4; }*/
/*#best-seller-titles .publisher {*/
/*  color: #333030; }*/
/*#best-seller-titles .stats hr {*/
/*  opacity: .5; }*/
/*#best-seller-titles .stats p {*/
/*  color: #282c37; }*/



